export(beta0, ccPower, ccSim, phaseI, plotPower, rmvhyper, tps, tpsPower, tpsSim)

S3method(summary, tps)
S3method(print, tpsSim)
S3method(print, ccSim)
S3method(print, tpsPower)
S3method(print, ccPower)

importFrom("graphics", "axis", "legend", "lines")
importFrom("stats", "as.formula", "binomial", "glm", "glm.control",
           "median", "model.extract", "model.matrix", "optimize",
           "pnorm", "qnorm", "rbinom", "sd", "var")
importFrom("utils", "combn")
